.open_section {
  background-image: url("/bgstory.png");
  display: grid;
  grid-template-rows: 1fr auto;
  padding-top: 96px;
  padding-bottom: 6px;
  overflow: hidden;
}

.headline {
  font-size: 52px;
  font-weight: bolder;
  color: #d8d8d8;
  margin: 0;
  padding-top: 54px;
  padding-left: 24px;
}

.mark {
  background-color: #13102D;
  color: #d8d8d8;
}

.table_section {
  background-color: #13102D;
  padding-top: 24px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
}

.table th {
  background: rgb(108, 255, 162);
  color: white;
}

.table tr {
  background-color: lightblue;
}

.alert_red{
  background-color: rgb(255, 109, 109);
  color: white;
}

.alert_caution{
  background-color: rgb(255, 122, 74);
  color: white;
}

/* @media (max-width: 768px) {
  .table_section {
    overflow-x: auto;
  }

  .table {
    width: 100%;
  }

  .table th,
  .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table th {
    font-size: 14px;
  }
} */
