html {
    height: 100%;
    max-width: none;
}


body{
  /* background-size: contain;
  background-image: linear-gradient(to right bottom, #002a5e, #005486, #007c8a, #00a06e, #88bc47); */
  background: rgb(0,84,134);
  background: radial-gradient(circle, rgb(136, 194, 66)  -20%, rgba(0,84,134,1) 100%);
  max-width: none;
  /* padding-left: 24px; */
   /* display: grid;
   grid-template-rows: auto 1fr auto; */
  /* grid-template-columns: 1fr 6fr; */
  height: 100vh;
  min-height: 100%;
}
